<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
                 maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
        <binding name="WebXML" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client />
    <behaviors>
      <endpointBehaviors>
        <behavior name="Basic" />
        <behavior name="WebJson">
          <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" />
        </behavior>
        <behavior name="WebXML">
          <webHttp defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

      

    <services>
      <service name="CarService.CarDelivery">
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace=""
                  contract="CarService.ICarDelivery" />

        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace=""
                  contract="CarService.ICarDelivery" />

        <endpoint address="xml" binding="webHttpBinding" behaviorConfiguration="WebXML"
                  bindingConfiguration="WebXML" name="WebXML" bindingNamespace=""
                  contract="CarService.ICarDelivery" />
      </service>
    </services>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
      
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
